body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    background-image: url(../img/bg3.png);
    background-repeat: repeat;
    background-position: top;
    color: ghostwhite ;
}

#top{
    margin: 10% 0% 0% 0%;
}


.l1 img{
    width: 100px;
}

.l2 img{
    width: 100px;
}

.l3 img{
    width: 100px;
}

.l4 img{
    width: 200px;
}

#home{
    font-size: xx-large;
}