body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    color: ghostwhite ;
}

#t1{
    font-size: 80px;
    font-weight: 900;
    color: rgb(158, 97, 238);
    }

.ctt{
    text-align: left;
    font-size: x-large;
}


.home{
    text-align: right;
    font-size: larger;
    }

.p1{
    text-align: center;        
    margin: 0 26%;       
}

